<h1>{{ cert.name }}</h1>
<p>Issued by: {{ cert.issuing_organization }}</p>
<p>Issued to: {{ cert.user.username }}</p>
<p>Issue Date: {{ cert.issue_date }}</p>
<p>Description: {{ cert.description }}</p>
<div>
    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ cert.shareable_url }}" target="_blank">Share on LinkedIn</a>
    <a href="https://twitter.com/intent/tweet?url={{ cert.shareable_url }}&text=Check out my certification!" target="_blank">Share on Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ cert.shareable_url }}" target="_blank">Share on Facebook</a>
</div>